Repository ceva24/openapi-steamworks-web-api, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, dist, swagger-ui, workflow, env, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.js

source:
  - src/**/*

dist:
  - dist/steamworks-web-api.json

swagger-ui:
  - docs/**/*

workflow:
  - .github/**/*

env:
  - .env*

dependencies:
  - package-lock.json

Refactor openapi packages
  src/openapi/components/info/info-creator.js
  src/openapi/components/info/info-creator.test.js
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
  src/openapi/components/paths/paths-creator.js
  src/openapi/components/paths/paths-creator.test.js
  src/openapi/openapi-spec-creator.js
Labels: test, source

Validate the OpenAPI spec
  package-lock.json
  package.json
  src/index.js
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
  src/steam/api-definition-fetcher.js
Labels: test, source, dependencies

Refactor out unnecessary spread operators
  src/openapi/components/paths/paths-creator.js
  src/openapi/openapi-spec-creator.js
Labels: source

Create paths for interfaces with multiple methods
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/paths/paths-creator.js
  src/openapi/components/paths/paths-creator.test.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Create paths for all interfaces
  src/openapi/components/paths/paths-creator.js
  src/openapi/components/paths/paths-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Add path parameters for get methods in non-service interfaces
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
  src/openapi/components/paths/paths-creator.test.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Add servers object to api spec
  dist/steamworks-web-api.json
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
  src/steam/api-definition-fetcher.js
  src/steam/api-definition-fetcher.test.js
Labels: test, source, dist

Set the external docs for the spec
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Set the external docs for each path
  dist/steamworks-web-api.json
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
Labels: test, source, dist

Refactor path creator tests
  src/openapi/components/paths/path-creator.test.js
Labels: test, source

Add path tags
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Refactor path parameter creation
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Refactor path creator to check http method in path parameter creator
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Refactor variable name in path creator
  src/openapi/components/paths/path-creator.js
Labels: source

Create basic request body with empty schema
  src/constants/constants.js
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Create request body required property
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Refactor property schema creation out into separate file
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
  src/openapi/utils/property-schema-creator.js
  src/openapi/utils/property-schema-creator.test.js
Labels: test, source

Create request body properties
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Set an empty parameter description when one isn't present
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Create parameters for service interfaces
  src/openapi/components/paths/path-creator.js
Labels: source

Pass inteface name into path parameter creator
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Add input_json parameter to service interfaces
  src/constants/constants.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Update workflow to push updates to dist on schedule
  .github/CODEOWNERS
  .github/workflows/dist.yml
Labels: workflow

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update workflow formatting
  .github/workflows/dist.yml
Labels: workflow

Update dist to test GitHub workflow
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist to test GitHub workflow
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Remove CODEOWNERS
  .github/CODEOWNERS
Labels: workflow

Update triage.yml
  .github/workflows/triage.yml
Labels: workflow

Update dependencies to latest versions
  package-lock.json
  package.json
Labels: dependencies
