Repository ceva24/openapi-steamworks-web-api, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, dist, swagger-ui, workflow, env, dependencies

Add 400 and 403 responses
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
Labels: source

Order the interfaces alphabetically
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
  src/openapi/utils/tag-creator.js
  src/openapi/utils/tag-creator.test.js
Labels: test, source

Order paths alphabetically
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update the info description
  src/constants/constants.js
Labels: source

Update openapi-spec-creator.test.js.snap
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
Labels: source

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create FUNDING.yml
  .github/FUNDING.yml
Labels: workflow

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.js

source:
  - src/**/*

dist:
  - dist/steamworks-web-api.json

swagger-ui:
  - docs/**/*

workflow:
  - .github/**/*

env:
  - .env*

dependencies:
  - package-lock.json
