Repository ceva24/openapi-steamworks-web-api, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, dist, swagger-ui, workflow, env, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.js
  - src/**/*.snap

source:
  - src/**/*

dist:
  - dist/steamworks-web-api.json

swagger-ui:
  - docs/**/*

workflow:
  - .github/**/*

env:
  - .env*

dependencies:
  - package-lock.json

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update GitHub workflows
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Labels: workflow

Update dependabot.yml
  .github/dependabot.yml
Labels: workflow

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

Add script to update all dependencies to the latest versions
  package.json
Labels: none

Update package.json scripts
  package-lock.json
  package.json
Labels: dependencies

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dependencies
  package-lock.json
  package.json
Labels: dependencies

Use .nvmrc file to manage node version
  .github/workflows/build.yml
  .github/workflows/check-format.yml
  .github/workflows/dist.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .nvmrc
Labels: workflow

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

chore: update dependencies
  package-lock.json
  package.json
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
Labels: test, source, dependencies

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist
