Repository ceva24/openapi-steamworks-web-api, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, dist, swagger-ui, workflow, env, dependencies

Update dist workflow schedule and PR body text
  .github/workflows/dist.yml
Labels: workflow

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist to test workflow
  dist/steamworks-web-api.json
Labels: dist

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist
  dist/steamworks-web-api.json
Labels: dist

Update dist.yml
  .github/workflows/dist.yml
Labels: workflow

Update dist
  dist/steamworks-web-api.json
Labels: dist

Refactor service interface checker into separate file
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/utils/service-interface-checker.js
  src/openapi/utils/service-interface-checker.test.js
Labels: test, source

Update path request body creator to accept interface name parameter
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Refactor test syntax
  src/openapi/components/paths/path-creator.test.js
  src/openapi/components/paths/path-parameters-creator.test.js
  src/openapi/components/paths/paths-creator.test.js
Labels: test, source

Do not mark service interfaces request body parameters as required
  src/constants/constants.js
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Set the request body parameter description
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
  src/openapi/utils/property-schema-creator.js
  src/openapi/utils/property-schema-creator.test.js
Labels: test, source

Support {message} parameter types
  src/constants/constants.js
  src/openapi/utils/property-schema-creator.js
  src/openapi/utils/property-schema-creator.test.js
Labels: test, source

Throw an error for unknown Steam parameter types
  src/openapi/utils/property-schema-creator.js
  src/openapi/utils/property-schema-creator.test.js
Labels: test, source

Add some text to request body parameter descriptions to indicate when they're required fields
  src/constants/constants.js
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Add required text to service interface request body descriptions for required parameters with no description
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Refactor parameter description creation out to separate file
  src/openapi/components/paths/path-request-body-creator.js
  src/openapi/components/paths/path-request-body-creator.test.js
  src/openapi/utils/parameter-description-creator.js
  src/openapi/utils/parameter-description-creator.test.js
Labels: test, source

Use separate descriptions for input_json parameter in get and post requests
  src/constants/constants.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Do not mark query string parameters as required in service interface get requests
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
  src/openapi/components/paths/path-request-body-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Refactor required/optional text constant names
  src/constants/constants.js
  src/openapi/utils/parameter-description-creator.js
  src/openapi/utils/parameter-description-creator.test.js
Labels: test, source

Update snapshot test with some service interfaces
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Support array parameters
  src/constants/constants.js
  src/openapi/utils/parameter-description-creator.js
  src/openapi/utils/parameter-description-creator.test.js
Labels: test, source

Add format parameter to each request
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/paths/path-creator.test.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Refactor format parameter to constant
  src/constants/constants.js
  src/openapi/components/paths/path-parameters-creator.js
  src/openapi/components/paths/path-parameters-creator.test.js
Labels: test, source

Add ability to pass API key when requesting list of Steam APIs
  package-lock.json
  package.json
  src/constants/constants.js
  src/index.js
  src/steam/api-definition-fetcher.js
  src/steam/api-definition-fetcher.test.js
Labels: test, source, dependencies

Add support for bool parameter type
  src/constants/constants.js
  src/openapi/utils/property-schema-creator.js
  src/openapi/utils/property-schema-creator.test.js
Labels: test, source

Add support for {enum} parameter type
  src/constants/constants.js
  src/openapi/utils/property-schema-creator.js
  src/openapi/utils/property-schema-creator.test.js
Labels: test, source

Update dist workflow to use API key
  .github/workflows/dist.yml
Labels: workflow

Update api definition fetcher test to use constant
  src/steam/api-definition-fetcher.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Add security scheme
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Omit the key parameter from the path parameters and request body as it's handled by the security scheme
  src/openapi/components/paths/path-creator.js
  src/openapi/components/paths/path-creator.test.js
Labels: test, source

Update dist
  dist/steamworks-web-api.json
Labels: dist

Add partner API server details
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Add info description
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/info/info-creator.js
  src/openapi/components/info/info-creator.test.js
Labels: test, source

Set the info terms of service
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/info/info-creator.js
  src/openapi/components/info/info-creator.test.js
Labels: test, source

Set the external docs description
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/openapi-spec-creator.js
  src/openapi/openapi-spec-creator.test.js
Labels: test, source

Set the info contact details
  src/constants/constants.js
  src/openapi/__snapshots__/openapi-spec-creator.test.js.snap
  src/openapi/components/info/info-creator.js
  src/openapi/components/info/info-creator.test.js
Labels: test, source

.github/labeler.yml:

documentation:
  - README.md
  - LICENCE

test:
  - src/**/*.test.js

source:
  - src/**/*

dist:
  - dist/steamworks-web-api.json

swagger-ui:
  - docs/**/*

workflow:
  - .github/**/*

env:
  - .env*

dependencies:
  - package-lock.json
